<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Page</title>
</head>
<body>

    <header class="topnav">
        <div class="topnav__link-box">
            <a href="/" class="topnav__link">Shop</a>
            <a href="/admin/add-product">Add Product</a>
        </div>
    </header>

    <main>
        <form action="/admin/product" method="POST">
            <input type="text" name="product">
            <button type="submit">Add Product</button>
        </form>
    </main>
    
</body>
</html>