<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>

    <style>
        .topnav {
            width: 100vw;
            background-color: #7E0FC5;
        }
    </style>
</head>
<body>

    <header class="topnav">
        <div class="topnav__link-box">
            <a href="/" class="topnav__link">Shop</a>
            <a href="/admin/add-product" class="topnav__link">Add Product</a>
        </div>
    </header>

    <main>
        <h1>My Products</h1>
    </main>
    
</body>
</html>